/* Centralizar o botão e dar um destaque no card */
.container-button {
    display: flex;
    justify-content: center;
    background-color: #f3f3f3;
    border-radius: 4px;
}

/* Deixar o botão com a largura total (estilo Mobile) */
.button-full {
    width: 100%;
}